.castContainer {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.castItem {
  list-style-type: none;
}
.castImg {
  display: block;
  width: 80%;
  margin: 0 auto 5px; 
}
.castText {
  font-size: 20px;
  text-align: center;
}
.castSpan {
  font-weight: bold;
}
.noCastMessage {
  font-size: 24px;
  margin-left: 40px;
  color: brown;
}
