.reviewsContainer {
  max-width: 800px;
}
.reviewsItem {
  list-style-type: none;
  margin-bottom: 20px;
}
.reviewsAuthor {
  font-size: 32px;
  margin-left: 90px;
  font-style: italic;
  color: rgb(161, 104, 104);
}
.reviewsContent {
  font-size: 18px;
}
.noReviewsMessage {
  font-size: 36px;
  margin-left: 40px;
  color: brown;
}
p {
  margin-block-end: 0;
}
