.movieListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.trendingItem {
  list-style: none;
  font-size: 36px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  overflow: hidden;
}

.trendingLink {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.trendingLink:hover {
  color: aqua;
}

.detailsImg {
  max-width: 100%;
  height: auto;
}

.listText {
  text-align: center;
  margin-block-start: 0;
}

